In [1]:
print("Hello World")

Hello World

In [2]:
# This is a comment

In [3]:
"""This is a multiline comment"""

'This is a multiline comment'

In [6]:
my_string="""This is a multiline comment."""
print(my_string)

This is a multiline comment.

In [7]:
20+10/5

22.0

In [8]:
5**3 # Exponential

125

In [9]:
5 #Integer
5.0 #Double

5.0

In [11]:
s='a'
print(type(s))

<class 'str'>

In [13]:
s="a"
print(type(s))

<class 'str'>

# Strings can be in single quotes , double quotes and triple quotes

In [1]:
s="""hello"""
print(type(s))

<class 'str'>

In [2]:
print("Hello \nWorld!") # New line \n

Hello
World!

In [4]:
print("Hello\tWorld") # One tab space \t

Hello	World

In [6]:
# Variables
x=10
X=20
print(x)
print(X)

10
20

In [7]:
print(type(x))

<class 'int'>

In [11]:
weather = "rainy"
if weather =="rainy":
    print("Its a rainy day.")
else:
    print("Its a sunny day.")
    print("Hello")

Its a rainy day.

In [13]:
weather = "rainy"
if weather =="rainy":
    print("Its a rainy day.")
else:
    print("Its a sunny day.")
print("Hello World")

Its a rainy day.
Hello World

# Formatting

In [15]:
my_string=("Capital of %s is %s" %("India","Delhi"))
print(my_string)

Capital of India is Delhi

In [18]:
my_string_2="Capital of {} is {} and is located at {},{}".format("India","Delhi",2222.333,443434.222)
print(my_string_2)

Capital of India is Delhi and is located at 2222.333,443434.222

# Formatting of strings using end and sep.

In [19]:
print("Hello world!")
print("Hello everyone!")

Hello world!
Hello everyone!

In [20]:
print("Hello world!",end=".")
print("Hello everyone!")

Hello world!.Hello everyone!

In [21]:
print("Hello world!",end="")
print("Hello everyone!")

Hello world!Hello everyone!

In [26]:
print("A","B","ABC")

A B ABC

In [25]:
print("A","B","ABC",sep='\n')

A
B
ABC

# Taking User input

In [28]:
name=input()
print("Hello "+name)

gautham
Hello gautham

In [29]:
name=input()
print("Hello "+name)

15
Hello 15

In [30]:
print(type(name))

<class 'str'>

In [31]:
age=int(name)

In [32]:
print(age)

15

In [33]:
print(type(age))

<class 'int'>

In [34]:
number=int(input())

10

In [35]:
print(type(number))

<class 'int'>

# Split Function

In [36]:
"10 20 30 40".split()

['10', '20', '30', '40']

In [37]:
l= "10 20 30 40 50".split()
print(l)

['10', '20', '30', '40', '50']

In [41]:
numbers = [int(no) for no in l] #String Comprehension
print(numbers)

[10, 20, 30, 40, 50]

In [42]:
numbers=[int(no) for no in input().split()]
print(numbers)

12 3 2 11
[12, 3, 2, 11]

# * + - / are the operators

In [43]:
10/5

2.0

In [44]:
10/3

3.3333333333333335

In [46]:
10//3 # Floor Division it rounds off the value

3

In [47]:
10%4

2

In [49]:
5**3 #Power

125

In [50]:
a=5
a+=1
print(a)

6

In [52]:
a*=4
print(a)4

96

In [53]:
a == 5

False

In [55]:
a=5
a>=5

True

In [56]:
a<=4

False

In [57]:
a!=6

True

# Logical Operator NOT AND OR

In [ ]:
weather="sunny"
temp=30
if weather=="Sunny" and temp>30:
    print("Lets enjoy at home")
else:
    print("Lets go for an outing!")

In [ ]:
weather="sunny"
temp=30
if not weather=="Sunny" and temp>30:
    print("Lets enjoy at home")
else:
    print("Lets go for an outing!")

In [1]:
u=int(input())
w=int(input())

5
4

In [2]:
area=u*w
perimeter=2*(w+u)
print("Area {},Perimeter {}".format(u,w))

Area 5,Perimeter 4