# Python Data structures

# * List

In [1]:
myList=[1,2,3,4]

In [2]:
myList=[1,2,3,4,"Hello"]

In [3]:
print(myList)

[1, 2, 3, 4, 'Hello']

In [4]:
L2 = list([1,2,3])
print(L2)
print(type(L2))

[1, 2, 3]
<class 'list'>

In [5]:
l3= list(L2)
print(l3)

[1, 2, 3]

In [6]:
l3=l3+L2
print(l3)

[1, 2, 3, 1, 2, 3]

In [7]:
l3.extend(L2)
print(l3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [8]:
# List of square of them numbers from 1 to 5
l4= [ i*i for i in range(1,6)]

In [9]:
print(l4)

[1, 4, 9, 16, 25]

# List Slicing

In [10]:
l4[0:4]

[1, 4, 9, 16]

In [11]:
l4[-1]

25

In [12]:
l4[-3:]

[9, 16, 25]

## Insertion and Deletion in List

In [13]:
l=[1,2]
l.append(3)
l.append([1,2]) #List of lists
l+=[4,5,6]
print(l)

[1, 2, 3, [1, 2], 4, 5, 6]

In [14]:
print(l[3][1])

2

In [15]:
print(l[3][0])

1

In [16]:
l.remove(1)

In [17]:
print(l)

[2, 3, [1, 2], 4, 5, 6]

In [18]:
l.insert(2,20)
print(l)

[2, 3, 20, [1, 2], 4, 5, 6]

In [19]:
del l[0]
print(l)

[3, 20, [1, 2], 4, 5, 6]

In [20]:
l.pop()
print(l)

[3, 20, [1, 2], 4, 5]

In [21]:
l=([1,2,3])
l=l*4
print(l)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [22]:
l=["Apple","Mango","Guava",80]
80 in l

True

In [23]:
for i in range(len(l)):
    print(l[i])

Apple
Mango
Guava
80

In [24]:
for x in l:
    print(x)

Apple
Mango
Guava
80

# Functions on lists , Searching and Sorting

In [25]:
l=[4,2,2,16,18]
print(max(l))

18

In [26]:
print(min(l))

2

In [27]:
print(l.index(16)) # Linear search

3

In [28]:
l=sorted(l)

In [29]:
print(l)

[2, 2, 4, 16, 18]

In [30]:
l=[4,5,1,1,3,2]
l.sort()
print(l)

[1, 1, 2, 3, 4, 5]

In [31]:
l.sort(reverse=True)

In [32]:
print(l)

[5, 4, 3, 2, 1, 1]

In [33]:
## Read a list of numbers from user.
numbers=input()
print(type(numbers))

1 2 3 4 5 6 7 8 9
<class 'str'>

In [34]:
numbers = [int(numbers)*int(numbers) for numbers in input().split()]
print(numbers)

1 2 3 4 5 6 7 8 9
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
print(type(numbers))

<class 'list'>

# Dictionary

In [45]:
d={"mango":100,"Apple":80}
print(d)
print(type(d))
print(d["mango"])
d["Guava"]=60
print(d)
d["Grape"]=[10,20]
print(d["Grape"])
d["Pineapple"]={"small":90,"Large":150}
print(d["Pineapple"])
print(d["Pineapple"]["small"])

{'mango': 100, 'Apple': 80}
<class 'dict'>
100
{'mango': 100, 'Apple': 80, 'Guava': 60}
[10, 20]
{'small': 90, 'Large': 150}
90

In [46]:
print(d.keys())

dict_keys(['mango', 'Apple', 'Guava', 'Grape', 'Pineapple'])

In [47]:
print(d.values())

dict_values([100, 80, 60, [10, 20], {'small': 90, 'Large': 150}])

# Methods of dictionaries get(), items(), keys(), values(), clear(), update()

In [49]:
print(d["mango"])

100

In [52]:
print(type(d.get("Mango")))

<class 'NoneType'>

In [56]:
if "Mango" in d:
    print("The price of mango is %d",(d["mango"]))
else:
    print("Doesnt exist")

Doesnt exist

In [63]:
del d["Pineapple"]
l=list(d.items())
print(l)

[('mango', 100), ('Apple', 80), ('Guava', 60), ('Grape', [10, 20])]

In [64]:
d2={"Strawberry":95}
d.update(d2)
print(d)

{'mango': 100, 'Apple': 80, 'Guava': 60, 'Grape': [10, 20], 'Strawberry': 95}

In [65]:
print(len(d))

5

In [66]:
d.clear()

In [67]:
print(len(d))

0

# Convert list to dictionary

In [71]:
list1 = ["Apple","Pappaya","Guava","Banana"]
list2=[100,120,30,40]
p=dict(zip(list1,list2))
print(p)
print(type(p))

{'Apple': 100, 'Pappaya': 120, 'Guava': 30, 'Banana': 40}
<class 'dict'>

In [74]:
for key in p.keys():
    print(key)

Apple
Pappaya
Guava
Banana

# Tuples
# Tuples are faster than lists, safe right-protected code

In [75]:
# Tuples are immutable
t=(1,2,3,"hello")

In [76]:
print(t)

(1, 2, 3, 'hello')

In [77]:
print(t[0])

1

In [78]:
# Convert a tuple to a list
l=list(t)
print(l)

[1, 2, 3, 'hello']

In [79]:
print(type(l))

<class 'list'>

In [80]:
t2=tuple(l)

In [81]:
print(type(t2))

<class 'tuple'>

In [84]:
# Concatenation of tuples
t2+t

(1, 2, 3, 'hello', 1, 2, 3, 'hello')

In [85]:
t2=t2*3

In [86]:
print(t2)

(1, 2, 3, 'hello', 1, 2, 3, 'hello', 1, 2, 3, 'hello')

In [87]:
print(len(t))

4

In [88]:
t=(1,443,2)
print(max(t))

443

In [89]:
print(min(t))

1

In [ ]:
del t # Deletion of tuple

# Set Data Structure

In [92]:
s=set([13,2,1,3,4,5,6,7])
print(s)

{1, 2, 3, 4, 5, 6, 7, 13}

In [94]:
s2={5,6,7}
print(s2)

{5, 6, 7}

In [97]:
s2.add(50)
print(s2)
s.union(s2)

{50, 5, 6, 7}

{1, 2, 3, 4, 5, 6, 7, 13, 50}

In [106]:
if 4 in s:
    print("present")
else:
    print("Not present")

Not present

In [98]:
s| s2

{1, 2, 3, 4, 5, 6, 7, 13, 50}

In [99]:
s&s2

{5, 6, 7}

In [100]:
s.intersection(s2)

{5, 6, 7}

In [102]:
s-s2

{1, 2, 3, 4, 13}

In [104]:
s.difference(s2) # s-s2 both are same

{1, 2, 3, 4, 13}

In [105]:
s.clear()

In [107]:
s ^s2

{5, 6, 7, 50}

In [108]:
a1={1,2,3,4}
a2={2,3,4,5,6}
print(a1^a2)

{1, 5, 6}